.app {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  height: 70px;
  background: darkslategrey;
  align-items: center;
}
.header__search input {
  width: 550px;
  height: 30px;
}

.films-list {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  margin-top: 20px;

}
.films-list__item {
  flex-basis: 350px;
  min-height: 160px;
  background: darkgreen;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.films-list__photo {
  align-self: center;
  flex: 1 1 auto
}
.films-list__title {
  align-self: center;
  padding-bottom: 15px;
  font-size: 1.6rem;
  cursor: pointer;
}
.film-list__info {

}
